/* body {
    background-color: blanchedalmond;
}

.box {
    background-color: blueviolet;
    height: 350px;
    width: 40%;
}

#firstinput {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}

#secondinput {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;

}

.button {
    position: relative;
    padding: 1.6em 2.8em;
    text-decoration: none;
    background-color: brown;

    &__canvas {
        --offset: 32px;

        position: absolute;
        top: calc(var(--offset) * -1);
        left: calc(var(--offset) * -1);
        width: calc(100% + var(--offset) * 2);
        height: calc(100% + var(--offset) * 2);
        transition: opacity 2s ease;
    }

    &__text {
        position: relative;
        color: green;
        font-weight: bold;
        letter-spacing: .02em;
        pointer-events: none;
    }

    &:hover &__canvas {
        opacity: .85;
        transition: opacity .2s ease;
    }

    &:active &__canvas {
        opacity: 1;
        transition: none;
    }
}
.heading{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: white;
}
.add{
    font-size: 20px;
    font-weight: bold;
}
.screen{
    font-size: 20px;
    font-weight: bold;
} */